<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.product.dao.FeedBackMapper" >

  <select id="selectFeedBackAll" resultType="com.sdut.product.pojo.FeedBack" parameterType="java.lang.String">
    select f.*, f.product_id as productId,p.name as productName
    from feedback f, product p where f.product_id = p.id
    <!--<if test="str !='' " >-->
      <!--and (f.id like #{str} or p.name like #{str})-->
    <!--</if>-->
  </select>

  <select id="selectFeedBackCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*)
    from feedback f, product p where f.product_id = p.id
    <!--<if test="str !='' " >-->
      <!--and (f.id like #{str} or p.name like #{str})-->
    <!--</if>-->
  </select>

  <select id="selectFeedBackById" resultType="com.sdut.product.pojo.FeedBack">
    select f.*,p.name as product_name
    from feedback f, product p
    where f.product_id = p.id
    and f.id = #{id}
  </select>

  <insert id="insertFeedBack" parameterType="com.sdut.product.pojo.FeedBack" >
    insert into feedback (product_id, people, phone, problem, suggest)
    values (#{productId},#{people},#{phone},#{problem},#{suggest})
  </insert>

  <update id="updateFeedBack">
    update feedback set status = 1 where id = #{id}
  </update>

</mapper>