<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdut.product.dao.LogMapper" >

  <select id="selectLogAll" resultType="com.sdut.product.pojo.Logs">

  </select>

  <select id="selectLogCount" resultType="java.lang.Integer">

  </select>

  <insert id="insertLog" parameterType="com.sdut.product.pojo.Logs" >

  </insert>

</mapper>